:root {
    --bg-color: #98b2cb;
    --header-bg: rgba(255,255,255,.75);
    --button-bg: rgba(255,255,255,.25);
    --button-bg-hover: rgba(255,255,255,.5);
    --wave-bg: rgb(127,159,191);
    

    --fanta-bg: #fd8e18;
    --fanta-brand-bg: #fd8e18;
    --fanta-brand-color: #1f4ead;

    --cola-bg: #8e0300;
    --cola-brand-bg: red;

    --sprite-bg: lightsteelblue;
    --sprite-brand-bg: #519d4f;

    --water-bg: #197fe6;
    --water-brand-bg: #33a6cc;

    --special-bg: #5c41e1;
    --special-brand-bg: #cc33cc;

    --beer-bg: #e28538;
    --beer-brand-bg: #4a2328;
}

/* color themes */

.fanta .svg-div::before {
    background-color: var(--fanta-bg);
}
.fanta .brand-name {
    color: var(--fanta-brand-color);
    background: var(--fanta-brand-bg);
    box-shadow: 0 0 0 4px white;
}
.fanta .wave-color {
    background: var(--fanta-bg);
}

.cola .svg-div::before {
    background-color: var(--cola-bg);
}
.cola .brand-name {
    color: black;
    background: var(--cola-brand-bg);
    box-shadow: 0 0 0 4px black;
}
.cola .wave-color {
    background: var(--cola-bg);
}

.sprite .svg-div::before {
    background-color: var(--sprite-bg);
}
.sprite .brand-name {
    color: white;
    background: var(--sprite-brand-bg);
    box-shadow: 0 0 0 4px white;
}
.sprite .wave-color {
    background: var(--sprite-bg);
}

.water .svg-div::before {
    background-color: var(--water-bg);
}
.water .brand-name {
    color: white;
    background: var(--water-brand-bg);
    box-shadow: 0 0 0 4px white;
}
.water .wave-color {
    background: var(--water-bg);
}

.special .svg-div::before {
    background-color: var(--special-bg);
}
.special .brand-name {
    color: white;
    background: var(--special-brand-bg);
    box-shadow: 0 0 0 4px white;
}
.special .wave-color {
    background: var(--special-bg);
}

.beer .svg-div::before {
    background-color: var(--beer-bg);
}
.beer .brand-name {
    color: white;
    background: var(--beer-brand-bg);
    box-shadow: 0 0 0 4px white;
}
.beer .wave-trans {
    margin-bottom: 1em;
}
.beer .wave-rot {
    box-shadow: 0 0 0 .5em #edb248a0;
}
.beer .wave-color {
    background: #f7eeba;
}

/* general rules */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Roboto';
    background: var(--bg-color);
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.grid-3-col {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* typography */

p {
    cursor: default;
}
.drink-level > p {
    font-size: 3em;
    font-family: 'Schoolbell', cursive;
    margin: 0 3rem 0 1rem;
}
.svg-div p {
    padding: 0 .25em;
    border-radius: .125em;
    /* font-family: 'Merienda One', cursive; */
    font-family: 'Sriracha', cursive;
}

/* ========== ========== ========== */

/* header */

#header-bar {
    height: 8em;
    font-size: 1.2em;
    background: var(--header-bg);
    align-items: center;
    justify-content: space-between;
}
#header-bar div {
    align-items: center;
}
#time {
    font-size: 5em;
    margin: 0 1em;
}
.drink-level .svg-div {
    opacity: .75;
    /* border: .25em solid royalblue; */
}
.drink-level .svg-div > p{
    text-shadow: 0 0 8px white;
    font-size: 1.25em;
    z-index: 1;
}
.drink-level .wave-trans {
    animation: none;
    transform: translateY(-50%);
}
.drink-level .wave-rot {
    background: var(--header-bg);
    animation: none;
    box-shadow: 0 0 0 .25em #fffa;
}
.drink-level .wave-color {
    opacity: .3;
}

/* main */

.svg-div::before  {
    content: '';
    position: absolute;
    width: 3em;
    height: 5em;
    z-index: -1;
}
.svg-div {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 5em;
    overflow: hidden;
    border: .05em solid black;
}
#first .wave-trans, #first .wave-rot {
    animation-delay: 0s, 10s;
}
#second .wave-trans, #second .wave-rot {
    animation-delay: 1s, 11s;
}
#third .wave-trans, #third .wave-rot {
    animation-delay: 2s, 12s;
}
#fourth .wave-trans, #fourth .wave-rot {
    animation-delay: 3s, 13s;
}

#content {
    height: 100%;
    justify-content: space-around;
    margin-bottom: 4em;
}
#content-div {
    /* padding: 0 2vw; */
    align-items: center;
    justify-content: space-around;
    font-size: 5em;
}
#content-div > div {
    align-items: center;
}
#content-div > div > * {
    margin: .125em;
}
#content-div .svg-div {
    border: .05em solid black;
}
.bubble-div {
    position: absolute;
    border-radius: 50%;
    animation: bubblesY 5s linear infinite;
    z-index: -1;
}
.bubble {
    position: absolute;
    border-radius: 50%;
    background: #fff4;
    animation: bubblesX .4s ease-in-out alternate infinite;
}
@keyframes bubblesY {
    From {
        transform: translateY(1000%);
    }
    To {
        transform: translateY(-1000%);
    }
}
@keyframes bubblesX {
    From {
        transform: translateX(-25%);
    }
    To {
        transform: translateX(25%);
    }
}
#content .wave-rot {
    background: var(--bg-color);
    overflow: hidden;
}
.wave-color {
    height: 100%;
    width: 100%;
    opacity: .5;
}
.value {
    height: 3.6em;
    border: .05em solid black;
}
.value button {
    transition: .2s;
    -webkit-transition: .2s;
    font-size: 1em;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    writing-mode: vertical-lr;
}
.value {
    background: var(--button-bg);
}
.value button span {
    writing-mode: vertical-lr;
}
.value p {
    font-size: .7em;
    padding: .125em .25em;
    border-top: .05em solid black;
    border-bottom: .05em solid black;
}
.value button:hover {
    transition: .2s;
    -webkit-transition: .2s;
    background: var(--button-bg-hover);
}


/* ========== ========== ========== */

/* keyframes*/

.wave-trans {
    position: absolute;
    width: 8em;
    height: 8em;
    animation: wave-start-trans 10s, wave-trans 10s ease-in-out infinite;
}
@keyframes wave-start-trans {
    0% {
        animation-timing-function: ease-out;
        transform: translateY(0%);
    }
    50% {
        animation-timing-function: ease-in;
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-55%);
    }
}
@keyframes wave-trans {
    0% {
        transform: translateY(-55%);
    }
    50% {
        transform: translateY(-52.5%);
    }
    100% {
        transform: translateY(-55%);
    }
}
.wave-rot {
    position: absolute;
    width: 8em;
    height: 8em;
    border-radius: 35%;
    animation: wave-start-rot 10s, wave-rot 10s linear infinite;
    box-shadow: 0 0 0 .125em #fff5;
}
@keyframes wave-start-rot {
    0% {
        animation-timing-function: ease-out;
        transform: rotate(-720deg);
    }
    50% {
        animation-timing-function: ease-in;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}
@keyframes wave-rot {
    0% {
        transform: rotate(45deg) translateY(0em);
    }
    16% {
        transform: rotate(90deg) translateY(-.125em);
    }
    33% {
        transform: rotate(135deg) translateY(0em);
    }
    50% {
        transform: rotate(180deg) translateY(-.125em);
    }
    66% {
        transform: rotate(225deg) translateY(0em);
    }
    84% {
        transform: rotate(270deg) translateY(-.125em);
    }
    100% {
        transform: rotate(315deg) translateY(0em);
    }
}
.brand-name {
    margin-top: 4em;
    font-size: .7em;
    text-align: center;
    animation: brand-name-wave-trans 2s infinite;
}
@keyframes brand-name-wave-trans {
    0% {
        animation-timing-function: ease-in;
        transform: translateY(0%);
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-.125em);
    }
    100% {
        transform: translateY(0%);
    }
}

/* media queries */


@media (orientation: portrait) {
    
}