:root {
    --bg-color: #98b2cb;
    --header-bg: rgba(255,255,255,0.75);
    --button-bg: rgba(255,255,255,0.25);
    --button-bg-hover: rgba(255,255,255,0.5);
    --wave-bg: rgb(127,159,191);
    --wave-shadow: #fff5;
    
    --first-bg: #fd8e18;
    --second-bg: #8e0300;
    --third-bg: lightsteelblue;
    --first-brand-bg: #fd8e18;
    --first-brand-color: #1f4ead;
    --second-brand-bg: red;
    --third-brand-bg: #519d4f;
    --first-wave-bg: #c0976b;
    --second-wave-bg: #88515f;
    --third-wave-bg: #99b2ce;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.grid-3-col {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
p {
    cursor: default;
}
#header-right p {
    font-family: 'Schoolbell', cursive;
} 
body {
    height: 100vh;
    font-family: 'Roboto';
    background: var(--bg-color);
}
#header-bar {
    height: 8em;
    font-size: 1.2em;
    background: var(--header-bg);
    align-items: center;
    justify-content: space-between;
    /* padding: 1em 2em; */
}
#header-bar p {
    font-size: 3em;
}
#header-bar div {
    align-items: center;
}
#header-bar > p {
    margin: 0 1em;
}
#header-right > p {
    margin: 0 4rem 0 1rem;
}
#time {
    font-size: 5em !important;
}
.svg {
    color: royalblue;
}
#content .svg-div::before {
    content: '';
    position: absolute;
    width: 3em;
    height: 5em;
    z-index: -1;
}
#first-drink .svg-div::before {
    background-color: var(--first-bg);
}
#second-drink .svg-div::before {
    background-color: var(--second-bg);
}
#third-drink .svg-div::before {
    background-color: var(--third-bg);
}
#content .svg-div {
    position: relative;
    align-items: center;
    justify-content: center;
}
#first-drink .wave-trans, #first-drink .wave-rot {
    animation-delay: 1s, 8.5s;
}
#second-drink .wave-trans, #second-drink .wave-rot {
    animation-delay: .5s, 8s;
}
#third-drink .wave-trans, #third-drink .wave-rot {
    animation-delay: 0s, 7.5s;
}
.wave-trans {
    position: absolute;
    width: 6em;
    height: 6em;
    animation: wave-start-trans 7.5s, wave-trans 5s ease-in-out infinite;
}
@keyframes wave-start-trans {
    0% {
        animation-timing-function: ease-out;
        transform: translateY(0%);
    }
    66% {
        animation-timing-function: ease-in;
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-55%);
    }
}
@keyframes wave-trans {
    0% {
        transform: translateY(-55%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-55%);
    }
}


.svg-div p {
    padding: .125em .25em;
    border-radius: .125em;
    box-shadow: 0 0 0 4px white;
    font-family: 'Merienda One', cursive;
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Sriracha', cursive; */
}
#first-drink .svg-div p {
    color: var(--first-brand-color);
    background: var(--first-brand-bg);
}
#second-drink .svg-div p {
    background: var(--second-brand-bg);
    box-shadow: 0 0 0 4px black;
}
#third-drink .svg-div p {
    color: white;
    background: var(--third-brand-bg);
}
#first-drink .wave-rot {
    background: var(--first-wave-bg);
}
#second-drink .wave-rot {
    background: var(--second-wave-bg);
}
#third-drink .wave-rot {
    background: var(--third-wave-bg);
}
.wave-rot {
    position: absolute;
    width: 6em;
    height: 6em;
    border-radius: 35%;
    animation: wave-start-rot 7.5s, wave-rot 5s linear infinite;
    box-shadow: 0 0 0 0.5rem var(--wave-shadow);
}
@keyframes wave-start-rot {
    0% {
        animation-timing-function: ease-out;
        transform: rotate(-720deg);
    }
    66% {
        animation-timing-function: ease-in;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}
@keyframes wave-rot {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(315deg);
    }
}
.svg-div {
    width: 3em;
    height: 5em;
    border: 0.25em solid royalblue;
    overflow: hidden;
}
.svg-div > p {
    font-size: .75em;
    text-align: center;
    animation: p-wave-trans 2s infinite;
}
@keyframes p-wave-trans {
    0% {
        animation-timing-function: ease-in;
        transform: translateY(0%);
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-10%);
    }
    100% {
        /* animation-timing-function: linear; */
        transform: translateY(0%);
    }
}
svg {
    padding: 0;
    opacity: 0%;
}
/* #header-bar {
    width: 100%;
} */
#content {
    height: 100%;
    justify-content: space-around;
    margin-bottom: 4em;
}
#content-div {
    /* padding: 0 2vw; */
    align-items: center;
    justify-content: space-evenly;
    font-size: 6em;
}
#content-div .svg-div {
    border: 0.05em solid black;
}
.value {
    height: 3.6em;
    border: 0.05em solid black;
}
.value button {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    font-size: 1em;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    writing-mode: vertical-lr;
}
.value button span {
    writing-mode: vertical-lr;
}
.value p {
    font-size: .75em;
    padding: 0.125em 0.25em;
    border-top: 0.05em solid black;
    border-bottom: 0.05em solid black;
}
.value {
    background: var(--button-bg);
}
.value button:hover {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    background: var(--button-bg-hover);
}
#content-div > div {
    align-items: center;
}
#content-div > div > * {
    margin: 1rem;
}