@use './mixins/display.scss' as *;
@use './mixins/colors.scss' as *;

$bg-color: #98b2cb;
$bg-color-dark: #304860;
$header-bg: #fffb;
$header-bg-dark: #1e252c;
$button-bg: #fff3;
$button-bg-hover: #fff7;
$wave-bg: rgb(127,159,191);


/* color themes */
.brand-name {
    padding: 0 .25em;
    border-radius: .125em;
    /* font-family: 'Merienda One', cursive; */
    font-family: 'Sriracha', cursive;
    font-size: .7em;
    text-align: center;
    margin: .5em;

}
.fanta {
    @include theme-colors(#fd8e18, #1f4ead, white, #fd8e18);
}
.cola {
    @include theme-colors(red, black, black, #8e0300);
}
.sprite {
    @include theme-colors(#519d4f, white, white, #b0c4de);
}
.water {
    @include theme-colors(#33a6cc, white, white, #197fe6);
}
.special {
    @include theme-colors(#cc33cc, white, white, #5c41e1);
}
.beer {
    @include theme-colors(#4a2328, white, white, #e28538);
}
.result {
    @include theme-colors(#{var(--bg)}, white, white, #{var(--bg)});
}

/* general rules */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Roboto';
    background: $bg-color;
    // background: $bg-color-dark;
}
#body-div {
    @include flex-col;
    height: 100vh;

    #header-bar {
        @include flex-row;
        height: 8em;
        font-size: 1.2em;
        background: $header-bg;
        // background: $header-bg-dark;
        align-items: center;
        justify-content: space-between;

        #time {
            font-size: 5em;
            margin: 0 1em;
        }
        
        #header-right {
            @include flex-row;
            align-items: center;
            font-size: 3em;
            height: 100%;
            background-color: #0003;

            * {
                margin: 0 1em;
            }
        }
    }
}

/* typography */

p {
    cursor: default;
}
.drink-level > p {
    font-size: 3em;
    font-family: 'Schoolbell', cursive;
    margin: 0 3rem 0 1rem;
}

/* ========== ========== ========== */

/* main */

.wave-trans, .wave-rot {
    animation-delay: 0s, 10s;
}

#content {
    @include flex-col;
    position: relative;
    height: 100%;
    justify-content: space-around;
    margin-top: 2em;

    #message {
        position: absolute;
        color: red;
        top: 0;
        align-self: center;
        font-size: 5em;
        padding-top: 1em;
    }
    #content-div {
        @include flex-row;
        /* padding: 0 2vw; */
        align-items: center;
        justify-content: space-around;
        font-size: 5em;

        .content-drink{
            align-items: center;

            @include flex-col;
            & > * {
                margin: .125em;
            }
            .drink-div {
                @include flex-col;
                position: relative;
                align-items: center;
                justify-content: center;
                width: 3em;
                height: 6em;
                overflow: hidden;
                border: .05em solid black;

                ::before  {
                    content: '';
                    position: absolute;
                    width: 3em;
                    height: 6em;
                    z-index: -1;
                }
            }
        }
    }
}

.bubble-div {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    height: var(--bubble-size);
    width: var(--bubble-size);
}
.bubble {
    position: absolute;
    border-radius: 50%;
    background: #fff4;
    height: var(--bubble-size);
    width: var(--bubble-size);
}
@keyframes bubblesY {
    0% {
        transform: translateY(2000%);
        opacity: 0;
    }
    20% {
        transform: translateY(1000%);
        opacity: 1;
    }
    80% {
        transform: translateY(-1000%);
        opacity: 1;
    }
    100% {
        transform: translateY(-2000%);
        opacity: 0;
    }
}
@keyframes bubblesX {
    From {
        transform: translateX(-25%);
    }
    To {
        transform: translateX(25%);
    }
}
#content .wave-rot {
    background: $bg-color;
    overflow: hidden;
}
.wave-color {
    height: 100%;
    width: 100%;
    opacity: .5;
}
.value {
    border: .05em solid black;

    button, p {
        text-shadow: 0 0 8px white;
        font-size: 1em;
        z-index: 1;
    }
    button {
        transition: .2s;
        -webkit-transition: .2s;
        font-size: 1em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        border: none;
        background-color: #fff4;
        border-radius: .25em;
        border: .05em solid #fff6;
    }
    svg {
        opacity: .5;
        font-size: 1.25em;
    }
}
.percent-down {
    backface-visibility: .5;
    /* background-color: #fff6 !important; */
}
.percent-up {
    /* background-color: #fff6 !important; */
}
.value button:hover {
    transition: .2s;
    -webkit-transition: .2s;
    background: $button-bg-hover;
}

.new2 {
    @include flex-row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 5em;
    overflow: hidden;
    border-top: .05em solid #0003 !important;
    border-radius: 0 0 40% 40% / 0 0 75% 75%;
}

/* ========== ========== ========== */

/* keyframes*/

.wave-trans {
    position: absolute;
    width: 100%;
    height: 8em;
    transform: translateY(var(--transform-wave-trans));

    &.animate {
        width: 8em;
        animation: wave-start-trans 10s, wave-trans 10s ease-in-out infinite;
        z-index: 1;
    }
    .beer & {
        margin-bottom: 1em;
    }
}

@keyframes wave-start-trans {
    0% {
        animation-timing-function: ease-out;
        transform: translateY(-10%);
    }
    50% {
        animation-timing-function: ease-in;
        transform: translateY(calc(var(--transform-wave-trans) + 5%));
    }
    100% {
        transform: translateY(var(--transform-wave-trans));
    }
}
@keyframes wave-trans {
    0% {
        transform: translateY(var(--transform-wave-trans));
    }
    50% {
        transform: translateY(calc(var(--transform-wave-trans) + 2.5%));
    }
    100% {
        transform: translateY(var(--transform-wave-trans));
    }
}
.wave-rot {
    position: absolute;
    width: 100%;
    height: 8em;
    box-shadow: 0 0 0 .125em #fff5;

    &.animate {
    width: 8em;
    height: 8em;
    border-radius: 35%;
    animation: wave-start-rot 10s, wave-rot 10s linear infinite;
    }
    .beer & {
        box-shadow: 0 0 0 .5em #edb248a0;
    }
}

@keyframes wave-start-rot {
    0% {
        animation-timing-function: ease-out;
        transform: rotate(-720deg);
    }
    50% {
        animation-timing-function: ease-in;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}
@keyframes wave-rot {
    0% {
        transform: rotate(45deg) translateY(0em);
    }
    16% {
        transform: rotate(90deg) translateY(-.125em);
    }
    33% {
        transform: rotate(135deg) translateY(0em);
    }
    50% {
        transform: rotate(180deg) translateY(-.125em);
    }
    66% {
        transform: rotate(225deg) translateY(0em);
    }
    84% {
        transform: rotate(270deg) translateY(-.125em);
    }
    100% {
        transform: rotate(315deg) translateY(0em);
    }
}
@keyframes error-message {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* media queries */


@media (orientation: portrait) {
    
}