:root {
    --bg-color: #98b2cb;
    --header-bg: rgba(255,255,255,.75);
    --button-bg: rgba(255,255,255,.25);
    --button-bg-hover: rgba(255,255,255,.5);
    --wave-bg: rgb(127,159,191);
}

.drink-div::before {
    background-color: var(--bg);
}

/* color themes */

.brand-name {
    color: var(--brand-color);
    background: var(--brand-bg);
    box-shadow: 0 0 0 4px var(--second-bg);
}
.wave-color {
    background: var(--bg);
}
.fanta {
    --bg: #fd8e18;
    --brand-bg: #fd8e18;
    --brand-color: #1f4ead;
    --second-bg: white;
}

.cola {
    --bg: #8e0300;
    --brand-bg: red;
    --brand-color: black;
    --second-bg: black;
}

.sprite {
    --bg: #b0c4de;
    --brand-bg: #519d4f;
    --brand-color: white;
    --second-bg: white;
}

.water {
    --bg: #197fe6;
    --brand-bg: #33a6cc;
    --brand-color: white;
    --second-bg: white;
}

.special {
    --bg: #5c41e1;
    --brand-bg: #cc33cc;
    --brand-color: white;
    --second-bg: white;
}

.beer {
    --bg: #e28538;
    --brand-bg: #4a2328;
    --brand-color: white;
    --second-bg: white;
}
.beer .wave-trans {
    margin-bottom: 1em;
}
.beer .wave-rot {
    box-shadow: 0 0 0 .5em #edb248a0;
}

/* general rules */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Roboto';
    background: var(--bg-color);
}
#body-div {
    height: 100vh;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

/* typography */

p {
    cursor: default;
}
.drink-level > p {
    font-size: 3em;
    font-family: 'Schoolbell', cursive;
    margin: 0 3rem 0 1rem;
}
.brand-name {
    padding: 0 .25em;
    border-radius: .125em;
    /* font-family: 'Merienda One', cursive; */
    font-family: 'Sriracha', cursive;
}

/* ========== ========== ========== */

/* header */

#header-bar {
    height: 8em;
    font-size: 1.2em;
    background: var(--header-bg);
    align-items: center;
    justify-content: space-between;
}
#header-right {
    align-items: center;
    font-size: 3em;
    height: 100%;
    background-color: #0003;
}
#header-right * {
    margin-right: .5em;
}
#time {
    font-size: 5em;
    margin: 0 1em;
}
.drink-level .drink-div {
    opacity: .75;
    /* border: .25em solid royalblue; */
}
.drink-level .wave-trans {
    animation: none;
    transform: translateY(var(--transform-wave-trans));
}
.drink-level .wave-rot {
    background: var(--header-bg);
    animation: none;
    box-shadow: 0 0 0 .25em #fffa;
}
.drink-level .wave-color {
    opacity: .3;
}

/* main */

.drink-div::before  {
    content: '';
    position: absolute;
    width: 3em;
    height: 6em;
    z-index: -1;
}
.drink-div {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 6em;
    overflow: hidden;
    border: .05em solid black;
}
.wave-trans, .wave-rot {
    animation-delay: 0s, 10s;
}

#content {
    position: relative;
    height: 100%;
    justify-content: space-around;
    margin-top: 2em;
}
#message {
    position: absolute;
    color: red;
    top: 0;
    align-self: center;
    font-size: 5em;
    padding-top: 1em;
}
#content-div {
    /* padding: 0 2vw; */
    align-items: center;
    justify-content: space-around;
    font-size: 5em;
}
#content-div > div {
    align-items: center;
}
#content-div > div > * {
    margin: .125em;
}
#content-div .drink-div {
    border: .05em solid black;
}
.bubble-div {
    position: absolute;
    border-radius: 50%;
    /* z-index: -1; */
    height: var(--bubble-size);
    width: var(--bubble-size);
}
.bubble {
    position: absolute;
    border-radius: 50%;
    background: #fff4;
    height: var(--bubble-size);
    width: var(--bubble-size);
    opacity: 0;
}
@keyframes bubblesY {
    0% {
        transform: translateY(1000%);
        opacity: 0;
    }
    25% {
        transform: translateY(500%);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000%);
        opacity: 1;
    }
}
@keyframes bubblesX {
    From {
        transform: translateX(-25%);
    }
    To {
        transform: translateX(25%);
    }
}
#content .wave-rot {
    background: var(--bg-color);
    overflow: hidden;
}
.wave-color {
    height: 100%;
    width: 100%;
    opacity: .5;
}
.value {
    border: .05em solid black;
}
.value button, .value p {
    text-shadow: 0 0 8px white;
    font-size: 1em;
    z-index: 1;
}
.value svg {
    opacity: .5;
    font-size: 1.25em;
}
.percent-down {
    backface-visibility: .5;
    /* background-color: #fff6 !important; */
}
.percent-up {
    /* background-color: #fff6 !important; */
}
.value button {
    transition: .2s;
    -webkit-transition: .2s;
    font-size: 1em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    border: none;
    background-color: #fff4;
    border-radius: .25em;
    border: .05em solid #fff6;
}
.value > button, .value > p {
    z-index: 1;
}
.value button:hover {
    transition: .2s;
    -webkit-transition: .2s;
    background: var(--button-bg-hover);
}

.new2 {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 6em;
    overflow: hidden;
    border: .05em solid black;
    border-radius: 20% 20% 40% 40% / 10% 10% 75% 75%;
}

/* ========== ========== ========== */

/* keyframes*/

.wave-trans {
    position: absolute;
    width: 100%;
    height: 8em;
    transform: translateY(var(--transform-wave-trans));
}
.wave-trans.animate {
    width: 8em;
    animation: wave-start-trans 10s, wave-trans 10s ease-in-out infinite;
}
@keyframes wave-start-trans {
    0% {
        animation-timing-function: ease-out;
        transform: translateY(-10%);
    }
    50% {
        animation-timing-function: ease-in;
        transform: translateY(calc(var(--transform-wave-trans) + 5%));
    }
    100% {
        transform: translateY(var(--transform-wave-trans));
    }
}
@keyframes wave-trans {
    0% {
        transform: translateY(var(--transform-wave-trans));
    }
    50% {
        transform: translateY(calc(var(--transform-wave-trans) + 2.5%));
    }
    100% {
        transform: translateY(var(--transform-wave-trans));
    }
}
.wave-rot {
    position: absolute;
    width: 100%;
    height: 8em;
    box-shadow: 0 0 0 .125em #fff5;
}
.wave-rot.animate {
    width: 8em;
    height: 8em;
    border-radius: 35%;
    animation: wave-start-rot 10s, wave-rot 10s linear infinite;
}
@keyframes wave-start-rot {
    0% {
        animation-timing-function: ease-out;
        transform: rotate(-720deg);
    }
    50% {
        animation-timing-function: ease-in;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}
@keyframes wave-rot {
    0% {
        transform: rotate(45deg) translateY(0em);
    }
    16% {
        transform: rotate(90deg) translateY(-.125em);
    }
    33% {
        transform: rotate(135deg) translateY(0em);
    }
    50% {
        transform: rotate(180deg) translateY(-.125em);
    }
    66% {
        transform: rotate(225deg) translateY(0em);
    }
    84% {
        transform: rotate(270deg) translateY(-.125em);
    }
    100% {
        transform: rotate(315deg) translateY(0em);
    }
}
.brand-name {
    font-size: .7em;
    text-align: center;
    margin: .5em;
}
@keyframes error-message {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* media queries */


@media (orientation: portrait) {
    
}